* {
	margin: 0;
	padding: 0;
	display: block;
	font-family: Helvetica, Tahoma;
	font-size: 10px;
	color: #555;
}

#notification {
	width: 300px;
	height: 45px;
	clear: both;
}

#thumbnail {
	width: 45px;
	height: 45px;
	float: left;
}

#content {
	width: 255px;
	height: 45px;
	float: left;
}

#title {
	padding: 0 5px;
	width: 245px;
	height: 24px;
	line-height: 24px;
	text-transform: capitalize;
	border-bottom: 1px solid #CCC;
	-webkit-box-shadow: 0 1px 2px #DDD;
	clear: both;
}

#actor_name {
	float: left;
	font-weight: bold;
    cursor: pointer;
}

#actor_name:hover {
	text-decoration: underline;
}

#behavior,
#date {
	float: right;
	margin-left: 5px;
}

#date {
	font-style: italic;
}

#body {
	width: 255px;
    height: 20px;
}

#view,
#dismiss {
	color: #4f85c9;
	width: 125px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
    float: left;
    font-weight: bold;
}

#dismiss {
	margin-left: 5px;
}

#view:hover,
#dismiss:hover {
	color: #2961a7;
	text-decoration: underline;
}