* {
	margin: 0;
	padding: 0;
	display: block;
	font-family: Helvetica, Tahoma;
	font-size: 10px;
}

#login {
	padding: 10px;
	padding-bottom: 0;
	width: 300px;
	height: 150px;
}

#login .title {
	margin-bottom: 10px;
	width: 280px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
}

#login .box {
	margin-bottom: 10px;
    width: 280px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
}



/*

<div id="form">
      <div class="title">Email or Username</div>
      <input type="text" name="email_or_username" class="box"/>
      <div class="title">Password</div>
      <input type="password" name="password" class="box"/>
      <input type="submit" value="Login" class="submit"/>
    </div>

*/